html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.msp-layout-top,
.msp-layout-left,
.msp-layout-right,
.msp-layout-bottom
/*.msp-viewport-controls*/
{
  display: none;
}

:where(h1,h2,h3,h4,h5,h6){ margin-block: 0; }
